<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Statistiques par région</title>
    <!-- External Libraries -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <!-- Bootstrap Font Icon CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@200;500&display=swap"
      rel="stylesheet"
    />
    <!-- Custom Styles -->
    <style>
      body {
        font-family: "Kanit", sans-serif;
        background-color: #f8f9fa;
        margin: 20px;
      }
      h1 {
        text-align: center;
      }
      .graph-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
      }
      .graph {
        width: 48%;
      }
    </style>
  </head>
  <body>
    <h1>Statistiques par région</h1>
    <div>
      <label for="departement">Sélectionner un département :</label>
      <select id="departement">
        {% for departement in filtre['departements'] %}
        <option value="{{ departement }}">{{ departement }}</option>
        {% endfor %}
      </select>
    </div>

    <div>
      <label for="region">Sélectionner une région :</label>
      <select id="region">
        {% for region in filtre['regions'] %}
        <option value="{{ region }}">{{ region }}</option>
        {% endfor %}
      </select>
    </div>

    <div>
      <label for="annee">Sélectionner une année :</label>
      <select id="annee">
        {% for annee in filtre['annees'] %}
        <option value="{{ annee }}">{{ annee }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="graph-container">
      <div id="graphique_logement" class="graph"></div>
      <div id="graphique_chomage" class="graph"></div>
      <div id="graphique_habitants_annee" class="graph"></div>
    </div>

    <script>
      fetch("/donnees_logement")
        .then((response) => response.json())
        .then((data) => {
          var regions = Object.keys(data);
          var habitants = Object.values(data);

          var dataPlotly = [
            {
              x: regions,
              y: habitants,
              type: "bar",
            },
          ];

          var layout = {
            title: "Nombre de logement par région",
            xaxis: { title: "Région" },
            yaxis: { title: "Nombre de logement" },
          };

          Plotly.newPlot("graphique_logement", dataPlotly, layout);
        })
        .catch((error) => console.error("Erreur:", error));

      fetch("/donnees_chomage")
        .then((response) => response.json())
        .then((data) => {
          var regions = Object.keys(data);
          var chomage = Object.values(data);

          var dataPlotly = [
            {
              x: chomage,
              y: regions,
              type: "bar",
            },
          ];

          var layout = {
            title: "Nombre de chomage par région",
            xaxis: { title: "Région" },
            yaxis: { title: "Nombre de chomage" },
          };

          Plotly.newPlot("graphique_chomage", dataPlotly, layout);
        })
        .catch((error) => console.error("Erreur:", error));

      fetch("/donnees_chomage")
        .then((response) => response.json())
        .then((data) => {
          var regions = Object.keys(data);
          var annees = [];
          var tauxChomageParAnnee = [];

          regions.forEach((region) => {
            var tauxChomage = data[region];
            Object.keys(tauxChomage).forEach((annee) => {
              if (!annees.includes(annee)) {
                annees.push(annee);
              }
            });
          });

          annees.sort();

          regions.forEach((region) => {
            var tauxChomage = data[region];
            var tauxParAnnee = [];

            annees.forEach((annee) => {
              if (tauxChomage[annee]) {
                var moyenne =
                  tauxChomage[annee].reduce((a, b) => a + b, 0) /
                  tauxChomage[annee].length;
                tauxParAnnee.push(moyenne);
              } else {
                tauxParAnnee.push(null);
              }
            });

            tauxChomageParAnnee.push({
              x: annees,
              y: tauxParAnnee,
              type: "scatter",
              mode: "lines+markers",
              name: region,
            });
          });

          var layout = {
            title: "Taux de chômage par région et par année",
            xaxis: { title: "Année" },
            yaxis: { title: "Taux de chômage" },
            showlegend: true,
          };

          Plotly.newPlot("graphique_chomage", tauxChomageParAnnee, layout);
        })
        .catch((error) => console.error("Erreur:", error));

      fetch("/donnees_habitant")
        .then((response) => response.json())
        .then((data) => {
          var regions = Object.keys(data);
          var annees = [];
          var habitantsParAnnee = [];

          regions.forEach((region) => {
            var habitants = data[region];
            Object.keys(habitants).forEach((annee) => {
              if (!annees.includes(annee)) {
                annees.push(annee);
              }
            });
          });

          annees.sort();

          regions.forEach((region) => {
            var habitants = data[region];
            var habitantsParAnneeRegion = [];

            annees.forEach((annee) => {
              if (habitants[annee]) {
                var totalHabitants = habitants[annee].reduce(
                  (a, b) => a + b,
                  0
                );
                habitantsParAnneeRegion.push(totalHabitants);
              } else {
                habitantsParAnneeRegion.push(null);
              }
            });

            habitantsParAnnee.push({
              x: annees,
              y: habitantsParAnneeRegion,
              type: "scatter",
              mode: "lines+markers",
              name: region,
            });
          });

          var layout = {
            title: "Nombre d'habitants par région et par année",
            xaxis: { title: "Année" },
            yaxis: { title: "Nombre d'habitants" },
            showlegend: true,
          };

          Plotly.newPlot(
            "graphique_habitants_annee",
            habitantsParAnnee,
            layout
          );
        })
        .catch((error) => console.error("Erreur:", error));
    </script>
  </body>
</html>
